.category {
    padding-top: 7vw;
    background-color: rgba(143, 231, 80, 0.613);
    height: 45rem;
}

img.category_image1 {
    transform: translate(0%, -50%);
}

div.category-card2-text {
    font-weight: 0;
    margin-top: 4vw;
}

.category-card1-text {
    font-size: 3.8vw !important;
}

.category-card {
    border-radius: 4rem !important;
    height: 15rem !important;
    margin-top: 3vw;
}

#card-fill {
    background-color: rgb(11, 217, 148);
}

@media only screen and (max-width: 998px) {

    .category {
        height: 55rem;
    }

    img.category_image1 {
        transform: translate(0%, -50%);
        width: 5rem;
        display: none;
    }

}

@media only screen and (max-width: 766px) {
    .category-card1-text {
        font-size: 4.8vw !important;
        text-align: center;
    }

    .category-card2-text {
        text-align: center;
    }

    .category {
        height: 65rem;
    }
}

@media only screen and (max-width: 575px) {
    .category {
        height: 115em;
    }

    .category-card {
        width: 15rem;
    }


}