.hero-section {
    height: 45vw;
    color: white;
    position: relative;
}

.bottom-left {
    position: absolute;
    bottom: -1vw;
    left: -17vw;
}

.bottom-right {

    bottom: 4vw;
}

.top-right {
    position: absolute;
    top: -4vw;
    right: 30vw;



}


.hero-text {
    margin-top: 7rem !important;
    z-index: 10;
}

#hero_img_1 {

    bottom: 0vw;
    height: vw !important;
    right: 16vw;

}

.hero_img_container {
    position: relatie;
}

.background_img_1 {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%; */
    object-fit: cover;
    height: 100vh;
    bottom: -5vw !important;
    position: relative;
}

img.overlay_img_1 {
    position: absolute;
    top: 31vw;
    left: 55%;
    transform: translate(-50%, -50%);
    /* Adjust width, height, and other properties as needed */
    width: 100%;
    max-width: 580px;
    border-radius: 10px;
    position: absolute;
    height: 90%;
    z-index: 1;

}



@media only screen and (max-width: 1500px) {

    .hero-section {
        height: 55vw;
    }

}

#landing-text {
    /* position: absolute;
    top: 50px ;
    left: 50px ;
    transform: translate(-50% -50%); */
    font-size: 4.8vw;

}

@media only screen and (max-width: 993px) {
    #hero-images {
        display: none !important;
    }

    div.hero-text {
        width: 100%;
        transform: translate(0%, -30%);
    }

    #hero-card2 {
        display: none;
    }

    #hero-card1 {
        width: 100%;
        flex-grow: 1 !important;
    }

    .hero-section {
        height: 60vh;
    }

    #landing-text {
        font-size: 8.8vw;
    }
}

@media only screen and (max-width: 596px) {
    div.hero-text {
        width: 100%;
        transform: translate(-0%, -0%);
    }

    #landing-text {
        font-size: 10.8vw;
    }

    .hero-section {
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.landingtext-green {
    color: rgb(11, 217, 148);
}

#search-box {
    position: absolute;
    width: 61%;
    z-index: 10;
    height: 10%;
}

.search-button {
    height: 100%;
    width: 250%;
    background-color: rgb(11, 217, 148) !important;
    color: black !important;
    border-radius: 0px 10px 10px 0px !important;
}

@media only screen and (max-width: 993px) {
    .search-button {
        width: 20vw;
    }

    #search-box {
        width: 70vw;
    }
}

@media only screen and (max-width: 793px) {
    #search-box {
        width: 93%;
    }
}

.talent-text {
    font-size: 1.3rem;
}