.how-to-section {

    background-color: #122620;
    color: white;
    padding-bottom: 100px;
}


#how-to {
    padding-top: 5% !important;
}

.lazy-image {

    fill: rgb(11, 217, 148) !important;
    /* Change the fill color */
    stroke: rgb(11, 217, 148) !important;
    /* Add a stroke color */
    stroke-width: 3;
    /* Adjust stroke width */
    opacity: 0.8;
    /* Make it semi-transparent */
    color: rgb(11, 217, 148) !important;

}

#hiw-icon {

    /* background-color: #122620 !important; */
    background-color: rgb(11, 217, 148) !important;
    width: 85px;
    height: 85px;
    border-radius: 50% !important;
    fill: rgb(11, 217, 148) !important;
    stroke: rgb(11, 217, 148) !important;
    color: white;
}

#hiw-icon img {

    fill: rgb(11, 217, 148) !important;
    stroke: rgb(11, 217, 148) !important;

}

#hiw-icon p h2 {
    color: white;
}

@media only screen and (max-width: 991px) {
    .how-to-section {
        height: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .how-to-section {
        height: 95vh;
    }
}
@media only screen and (max-width: 467px) {
    .how-to-section {
        height: 100vh;
    }
}