.number-color{
    background-color: #244034 !important;
    color: white;
    border-radius: 80%;
}
.snippet-card{
    background-color: #eff6f3 !important;
    border-radius: 25px;
    margin-top: 10rem;
    height: 40rem;
}
@media only screen and (max-width: 998px) {
    .snippet-card{
        display: none !important;
    }
}
.job-details-banner{
    background-color: #122620 !important;
    color: white;
    padding: 5rem 1rem;
}
.jobdetails-page-left{
    position: absolute;
    top: 43%;
    left: 0vw;
}